@import "import.css";

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-size: 13px;
    color: #48555B;
}

.container {
    max-width: 940px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

/* HEADER */

/* header */

.header {
    display: flex;
    align-items: center;
    height: 100vh;
}
.header__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header__welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.welcome {}
.welcome__svg-block {
}
.svg-block {
    display: flex;
    max-width: 103px;
    max-height: 23px;
    margin-top: 40px;
}
.welcome__icon {}
.svg-icon {
    width: 100%;
    height: 100%;
}

.welcome__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome__title {
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: white;
}
.welcome__subtitle {
    font-family: "Open Sans";
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: white;
}
.welcome__anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.6px;
    padding: 2px 5px;
    margin-bottom: 66px;
    color: white;
}

.header__image-block {
    display: flex;
    width: 100%;
    height: 100%;
}
.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */

.main {
}

/* main__navigation */

.main__navigation {
    border-bottom: 1px solid #E6E6E6;
}
.container {}
.navigation-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 23px 0;
}

.main .svg-block {
    margin-top: 0;
}
.svg-block {
}
.svg-icon {
}
.navigation {
}
.navigation > *:not(:last-child) {
    margin-right: 40px;
}
.navigation__link {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.page_active {
    color: #00A4E5;
}

/* main__story */

.main__story {
    padding: 56px 0 60px 0;
}
.container {
}
.story-block {
}

.story__title {
}
.story-block .title {
    margin-bottom: 70px;
}
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
.title::after {
    display: block;
    margin: 0 auto;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin-top: 10px;
}

.story__content {
    display: flex;
    align-items: flex-end;
}
.story__content > *:not(:last-child) {
    margin-right: 77px;
}
.story__text-block {
}
.story__text-block > *:not(:last-child) {
    margin-bottom: 26px;
}
.story__text-title {
    font-size: 20px;
    letter-spacing: 0.19px;
    margin: 0;
}
.story__title_blue {
    color: #16ACE8;
}
.story__text-para {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    margin: 0;
}

.story__images-block {
    display: flex;
    max-height: 224px;
}
.story__images-block > *:not(:last-child) {
    margin-right: 20px;
}
.story__image-block {
    position: relative;
    display: flex;
    flex: 1 1 33.333%;
}
.image__text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    word-spacing: 300px;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #fff;
}
.image {
}

/* main__capabilities */

.main__capabilities {
    padding: 60px 0 60px 0;
}
.container {
}

.capabilities-block {
}
.capabilities__article-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.capabilities__title {
}
.capabilities__article-block .title {
    text-align: left;
    align-items: start;
    margin-right: 50px;
}
.capabilities__article-block .title::after {
    margin: 10px 0 0 0;
}
.title {}

.article__right-block {
    display: flex;
    flex-wrap: wrap;
}
.article__right-block > *:not(:last-child) {
    margin-right: 30px;
}
.capabilities__article-desciption {
    max-width: 405px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin: 0;
}
.capabilities__more {
}
.btn {
    width: 150px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background-color: #00A4E5;
    color: white;
    padding: 11px 29px;
    box-sizing: border-box;
}

.capabilities__content {
    display: flex;
    margin: 0 -14px;
}
.capabilities__card-wrapper {
    padding: 0 14px;
}
.capabilities__card {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 38px 20px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.capabilities__card > *:first-child {
    margin-bottom: 25px;
}
.card__image-block {
    display: flex;
    width: 75px;
    height: 75px;
}
.card__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.43px;
    margin-bottom: 13px;
}
.card__description {
    line-height: 23px;
    letter-spacing: 0.19px;
    margin: 0;
}

/* main__contact */

.main__contact {
    position: relative;
    padding: 60px 0 0 0;
}
.contact-block {
    position: absolute;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-block > *:not(:last-child) {
    margin-bottom: 35px;
}
.contact__title {
    max-width: 350px;
    font-size: 30px;
    font-weight: 700;    
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
    margin: 0;
}
.contact__more {
}
.contact__image-block {
    display: flex;
    width: 100%;
    height: 100%;
}
.contact__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main__follow */

.main__follow {
    background-color: #171819;
}
.container {
}

.follow-block {
    display: flex;
    justify-content: center;
    max-width: 685px;
    padding: 30px 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.follow-block > *:not(:last-child) {
    margin: 0 70px 0 0;
}
.follow__title {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.85px;
    color: white;
}
.follow__input-block {
    display: flex;
}
.follow__input {
    padding: 11px 16px;
    font-size: 14px;
    letter-spacing: 0.07px;
    background-color: white;
    color: #48555B;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.follow__submit {
    outline: none;
    border: none;
    cursor: pointer;
}
.btn {}