@import "import.css";

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-size: 13px;
    color: #48555B;
}

.container {
    max-width: 940px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

/* HEADER */

/* header */

.header {
    display: flex;
    align-items: center;
    height: 100vh;
}
.header__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header__welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.welcome {}
.welcome__svg-block {
}
.svg-block {
    display: flex;
    max-width: 103px;
    max-height: 23px;
    margin-top: 40px;
}
.welcome__icon {}
.svg-icon {
    width: 100%;
    height: 100%;
}

.welcome__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome__title {
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: white;
}
.welcome__subtitle {
    font-family: "Open Sans";
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: white;
}
.welcome__anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.6px;
    padding: 2px 5px;
    margin-bottom: 66px;
    color: white;
}

.header__image-block {
    display: flex;
    width: 100%;
    height: 100%;
}
.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */

.main {
}

/* main__navigation */

.main__navigation {
    border-bottom: 1px solid #E6E6E6;
}
.container {}
.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 23px 0;
}

.main .svg-block {
    margin-top: 0;
}
.svg-block {
}
.svg-icon {
}
.navigation {
}
.navigation > *:not(:last-child) {
    margin-right: 40px;
}
.navigation__link {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.page_active {
    color: #00A4E5;
}